@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    user-select: none;
}

body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
}

main{
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 75vh;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.container{
    background-color:hsl(0, 0%, 100%);
    display: flex;
    width: 40vw;
    height: 60vh;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}


.container img{
    margin-top: 4px;
    width: 20vw;
    height: 60vh;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.productInformation{
    margin-left: 20px;
}

h2{
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%); 
    align-self: flex-start;
    letter-spacing: 5px;
}



h2:hover{
    color: darkgrey;
}

h1{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    max-width: 200px;
    font-size: 30px;
}

p{
    font-family:'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 15px;
    max-width: 250px;
}

.prices{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    margin-left: 18px;
}

.prices .newPrice{
    color:hsl(158, 36%, 37%);
    font-weight: 900;
    font-size: 30px;
    margin-right: 20px;
    font-family: 'Fraunces', serif;

}

.newPrice:hover{
    color: hsl(158, 42%, 45%);
}

.prices .oldPrice{
    text-decoration: line-through;
    font-family:'Montserrat', sans-serif;
}

.container button{
    margin-left: 20px;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    font-family:'Montserrat', sans-serif;
    border: none;
    color: hsl(0, 0%, 100%);
}

button svg{
    margin-right: 10px;
}

button:hover{
    background-color: hsl(158, 42%, 45%);
}

button:active{
    transform:translateY(2px);
}
